*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}
/* navBar */
nav {
    margin-bottom: 220px;
    margin-right: 74px;
    background-color:none;
    position: absolute;
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
    align-items: center;
    background: transparent;
  }
 
  nav ul{
    display: flex;
    list-style: none;
    gap: 10px;

  }
  nav ul li{
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  nav ul li a{
    color: #2d3142;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;

  }
  nav .navLinks button{
    padding: 2px 20px;
    border-radius: 10px;
    color: #737d96;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
    background-color:#2d3142 ;
  }
  nav ul li:hover{
    background-color: #737d96;
  }
  nav .menubtn{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
  }
   
  /* responsive navbar css */
  @media screen and (max-width: 600px) {
    nav .menubtn{
      display: flex;
    }
    nav .navLinks{
      display: none;
    }
    .sideNav {
      display: block !important;
    }
  }
   
  .sideNav{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(44, 1, 197);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
  }
   
  .sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    text-decoration: none;
  }
  .sideNav a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
  }
  .sideNav a:hover{
    color: white;
  }
  .sideNav .closeBtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
   
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
  }
  .row .column1 {
    padding-right: 50px;
  }
  .column1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .column1 p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: blue;
    font-size: 17px;
    font-weight: 600;
  }
  /* Header content responsive */
  @media screen and (max-width: 980px) {
    .column2 img {
      width: 350px;
    }
    .column1 h1 {
      font-size: 40px;
    }
    .column1 p{
      font-size: 17px;
    }
    .row {
      margin-top: 80px;
    }
  }
   
  @media screen and (max-width: 600px) {
   
    .column1 h1 {
      font-size: 35px;
    }
    .row {
      flex-direction: column;
   
    }
    .row .column1 {
      padding: 30px;
    }
  }
/* navBar */
.homePage{
  height: 100vh;
  background: url(images/home-5.jpg)no-repeat;
  background-size: cover;
  background-position: center center;   
  display: flex;
  flex-direction: column;

}
.up{
  width: 100%;
  height: 55vh;
  display: flex;
}
.clock{
  width: 31%;
  opacity: 0.5;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clockButton{
  background-color:none ;
  border: none;
  background: none;
  width: 34.1%;
  height: 22vh;
  border-radius: 50%;
  margin-left: 90PX;
  margin-bottom: 44PX;
}
.clockButton:hover {
  background-color: #2d3142;
  transform: 4s;
  transition: all var(--cover-timing) var(--cover-ease);
  color: #30323e;



}
.clockButton:hover a{
  display: block;
}
.clockButton a{
  font-size: 1.4rem;
  text-align: center;
  display: none;
  color: #30323e;

}
.cherf{
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin-top: 40px;

}
.cherfButton{
  width: 95%;
  height: 20vh;
  margin-top: 70px;
  background-color:none ;
  border: none;
  background: none;
}
.cherfButton a{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
.cherfButton:hover a{
  display: block;
}
.cherfButton:hover{
  background-color: black;
  transform: 4s;
  background: url(images/cherf-test.jpg) /* Linear gradient with semi-transparent black */
  ;
    background-size:contain; /* or background-size: 100%; */
    background-repeat: no-repeat;
    transition: background 0.3s ease, 


}
.brwaz-1{
  height: 55vh;
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brwaz-1Button{
  width: 130px;
  height: 25vh;
  margin-top: 170px;
  background-color:none ;
  border: none;

  background: none;
}
.brwaz-1Button a{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
.brwaz-1Button:hover a{
  display: block;
}
.brwaz-1Button:hover{
  background-color: black;
  transform: 4s;
  background: url(images/brwazsgeer.jpg) /* Linear gradient with semi-transparent black */
  ;
    background-size:contain; /* or background-size: 100%; */
    background-repeat: no-repeat;
    transition: background 0.3s ease, 
  



}
.brwaz-2Button{
  width: 130px;
  height: 25vh;
  margin-top: 90px;
  margin-left: 5px;
  border: none;

  background-color:none ;
  background: none;
}
.brwaz-2Button a{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
.brwaz-2Button:hover a{
  display: block;
}
.brwaz-2Button:hover{
  background-color: black;
  transform: 4s;
  background: url(images/brwazsgeer.jpg) /* Linear gradient with semi-transparent black */
  ;
    background-size:contain; /* or background-size: 100%; */
    background-repeat: no-repeat;
    transition: background 0.3s ease, 


}

.down{
  width: 100%;
  height: 54vh;
  display: flex;
}
.mzhrya{
  width: 25%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mzhryaButton{
  width: 34%;
  border: none;

  height: 
  40vh;
  opacity: 0.9;
  margin-left: 50px;
  background-color:none ;
  background: none;
}
.mzhryaButton a{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
.mzhryaButton:hover a{
  display: block;
}
.mzhryaButton:hover{
  background-color: black;
  transform: 4s;
  background: url(images/mzhrya-try-3.jpg) /* Linear gradient with semi-transparent black */
  ;
    background-size:100%; /* or background-size: 100%; */
    background-repeat: no-repeat;
    transition: background 0.3s ease, 




}
.knbay{
  width: 50%;
  height: 40;
  display: flex;
  justify-content: center;
}
.knbayButton{
  width: 97%;
  height: 40vh;
  opacity: 0.9;
  background-color:none ;
  border: none;

  background: none;
}
.knbayButton a{
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  display: none;
}
.knbayButton:hover a{
  display: block;
}
.knbayButton:hover {
  background: url(images/home-5-test.jpg) /* Linear gradient with semi-transparent black */
;
  background-size: 100%; /* or background-size: 100%; */
  background-repeat: no-repeat;
  transition: background 0.3s ease, 

}


/* .text2{
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20vh;
  color: rgb(207, 200, 200);
  font-size: 2rem;

  
} */
.homePageText{
  display: flex;
  width: 100%;
  color: #2d3142;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  width: 100%;
  z-index: 999;
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 1px 2px grey;}
  /* ///////////////////////////////////////////////////////////////////////
  secondPage */
.secPage{
  height: 100vh;
  background-color: #2d3142;
}
.lampMod{
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forCards{
  display: flex;
  justify-content: space-around;
}
:root {
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;
  --text-timing: .75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
  --title-stagger: 0.05s;
  --highlight: white;
}

.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 9/12;

  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw, rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
  transition: box-shadow 1s var(--cover-ease);
}
.card > * {
  z-index: 2;
}
.card > img {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
.card::before, .card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;

}
.card::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}
.card:hover, .card:focus {
  transition: all var(--cover-timing) var(--cover-ease);

  
  color: white;


  

  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scaleX(1);
}
.card:hover h2 .char, .card:hover p .word, .card:focus h2 .char, .card:focus p .word {
  opacity: 1;
  transform: translateY(0);
  color: inherit;
}
.card:hover h2 .char, .card:focus h2 .char {
  transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
}
.card:hover p .word, .card:focus p .word {
  transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
}
.card:hover img, .card:focus img {
  transform: scale(1.1);
}
.card:nth-of-type(1) {
  --highlight: coral;
}
.card:nth-of-type(2) {
  --highlight: #56ffe5;
}

.text {
  position: absolute;
  inset: 20px;
  top: auto;
}

h2 {
  font-size: 30px;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
  margin-bottom: 0.2em;
  text-align: center;
  align-items: center;
}

p {
  font-size: 12px;
  font-size: clamp(10px, 1.25vw, 14px);
  line-height: 1.4;
  text-align: justify;
  margin-top: 0.2em;
  margin-bottom: 0;
}

h2 .char,
p .word {
  color: var(--highlight);
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition-property: transform, opacity, color;
  transition-timing-function: var(--text-ease);
  transition-duration: var(--text-timing), var(--text-timing), calc(var(--text-timing)*2);
}

img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

main {
  margin-top: 25px;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.card {
  width: 100%;
  max-width: 300px;
}
@media screen and (min-width: 600px) {
  .card {
    width: 40vw;
  }
}

h1 {
  color: #5b6377;
  font-weight: 100;
}
@media screen and (min-width: 600px) {
  h1 {
    grid-column: 1/3;
  }
}



/* font-family: "Open Sans", sans-serif; */
.lamp {
  height: 25vh; 
  width: 150px;
  display: inline-block;
  transform-origin: top center;
  transform:rotate(45deg);
  animation:lamp 3s forwards infinite;
}

.bulb {
  fill:#FBF8CA;
  fill-opacity:0.1;
  animation: bulb .3s .3s 5 cubic-bezier(.26,1.17,.89,-0.74) alternate forwards ;
}


.switch {
  transition:transform .3s;
  &:active{
   transform:translateY(10px);
  }
}


@keyframes bulb {
  to {
    fill-opacity:1;
    fill:#FBF8CA;
  }
}

@keyframes lamp {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}


/* cards */

/* cards /*

